<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/sidelogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitnessApp"
        tools:targetApi="31">
        <activity
            android:name=".settings"
            android:exported="false" />
        <activity
            android:name=".adv_triceps"
            android:exported="false" />
        <activity
            android:name=".adv_shoulder"
            android:exported="false" />
        <activity
            android:name=".adv_legs"
            android:exported="false" />
        <activity
            android:name=".adv_chest"
            android:exported="false" />
        <activity
            android:name=".adv_biceps"
            android:exported="false" />
        <activity
            android:name=".adv_back"
            android:exported="false" />
        <activity
            android:name=".adv_abs"
            android:exported="false" />
        <activity
            android:name=".advance"
            android:exported="false" />
        <activity
            android:name=".itm_legs"
            android:exported="false" />
        <activity
            android:name=".itm_abs"
            android:exported="false" />
        <activity
            android:name=".itm_back"
            android:exported="false" />
        <activity
            android:name=".itm_shoulder"
            android:exported="false" />
        <activity
            android:name=".itm_chest"
            android:exported="false" />
        <activity
            android:name=".itm_triceps"
            android:exported="false" />
        <activity
            android:name=".itm_biceps"
            android:exported="false" />
        <activity
            android:name=".intermediate"
            android:exported="false" />
        <activity
            android:name=".beg_legs"
            android:exported="false" />
        <activity
            android:name=".beg_abs"
            android:exported="false" />
        <activity
            android:name=".beg_back"
            android:exported="false" />
        <activity
            android:name=".beg_shoulder"
            android:exported="false" />
        <activity
            android:name=".beg_chest"
            android:exported="false" />
        <activity
            android:name=".beg_triceps"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".reminder"
            android:exported="false" />
        <activity
            android:name=".prepathome"
            android:exported="false" />
        <activity
            android:name=".weight_loss"
            android:exported="false" />
        <activity
            android:name=".weight_gain"
            android:exported="false" />
        <activity
            android:name=".diet"
            android:exported="false" />
        <activity
            android:name=".shop"
            android:exported="false" />
        <activity
            android:name=".beg_biceps"
            android:exported="false" />
        <activity
            android:name=".beginner"
            android:exported="false" />
        <activity
            android:name=".levels"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
    </application>

</manifest>